.new-todo__container {
    height: 80vh;
    width: 70vw;
    background-color: #fff;
    color: #222;
    position: absolute;
}
.new-todo__container img {
    position: relative;
    top: 0px;
    right: 0px;
}